{% extends 'layouts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Clients{% endblock title %}

{% block content %}

<div class="container-fluid p-0">

    <div class="row mb-2 mb-xl-3">
        <div class="col-auto d-none d-sm-block">
            <h3>Clients <a href="{% url 'client-create' %}" class="btn btn-primary"><i class="bi bi-plus-lg"></i>
                    New</a></h3>
        </div>

        <div class="col-auto ml-auto text-right mt-n1">
            <form action="" method="get" class="d-none d-sm-inline-block">
                <div class="input-group">
                    <input type="text" name="name" class="form-control" placeholder="Search..." aria-label="Search"
                        value="{% firstof filterset.form.name.value "" %}">
                    <button type="submit" class="btn btn-info" type="button">
                        <i class="bi bi-search"></i> Search
                    </button>
                </div>
            </form>
            {% if filterset.form.name.value %}
            <form action="" method="get" class="d-none d-sm-inline-block">
                <div class="input-group">
                    <button type="submit" class="btn btn-info" type="button">
                        <i class="bi bi-x-lg"></i> Clear
                    </button>
                </div>
            </form>
            {% endif %}
        </div>
    </div>

    {% comment %}
    <form action="" method="get">
        {{ filterset.form|crispy }}
        <input type="submit" />
    </form>
    {% endcomment %}

    <div class="row">
        {% if clients %}
        {% for client in clients %}
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">{{ client.name }}</h5>
                </div>
                <div class="card-body">
                    <ul>
                        <li>
                            CUIT: <i class="align-middle" data-feather="hash"></i> {{ client.cuit }}
                        </li>
                        <li>
                            Contact: <i class="align-middle" data-feather="phone"></i> {{ client.contact }}
                        </li>
                    </ul>
                    <a href="{{ client.get_absolute_url }}" class="btn btn-info"><i class="bi bi-journal-text"></i>
                        Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% include 'includes/pagination.html' %}
        {% else %}
        <p>There isn't clients</p>
        {% endif %}
    </div>
</div>
{% endblock %}