{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Product{% endblock title %}

{% block content %}

<div class="container-fluid p-0">

    <div class="mb-3">
        <h1 class="h3 d-inline align-middle">{{product.name }}</h1>
        <a class="badge bg-secondary text-white ms-2" href="{% url 'products' %}">
            Return to Products
        </a>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="card">
                {% if product.image %}
                <img class="card-img-top" src="{{ product.image.url }}" alt="Product image">
                {% endif %}
                <div class="card-header">
                    <h5 class="card-title mb-0">{{ product.short_description }}</h5>
                </div>
                <div class="card-body">
                    <p>{{ product.description }}</p>
                    <ul>
                        <li>
                            Price: <i class="align-middle" data-feather="dollar-sign"></i> {{ product.price }}
                        </li>
                        <li>
                            Provider: <i class="align-middle" data-feather="user"></i> <a
                                href="{{ product.provider.get_absolute_url }}">{{ product.provider.name }}</a>
                        </li>
                    </ul>
                    <a href="{% url 'product-update' product.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'product-delete' product.id %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}