{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Stock detail{% endblock title %}

{% block content %}

<div class="container-fluid p-0">

    <div class="mb-3">
        <h1 class="h3 d-inline align-middle">Product Stock {{productunit.product}}</h1>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">{{productunit.product}}</h5>
                </div>
                <div class="card-body">
                    <ul>
                        <li>Product: {{productunit.product}}</li>
                        <li>Provider: {{productunit.provider|default_if_none:""}}</li>
                        <li>Location: {{productunit.wh_location|default_if_none:""}}</li>
                        <li>Quantity: {{productunit.quantity}}, Packaging: {{productunit.product_packaging}}, Lot:
                            {{productunit.lot|default_if_none:""}}</li>
                        <li>Unit valuation: {{productunit.unit_valuation|default_if_none:""}}</li>
                        <li>Expiration Date: {{productunit.expiration_date|date:'d/m/Y'|default_if_none:""}}</li>
                        <li>Creation date: {{productunit.date_created|date:'d/m/Y'}}, Last update:
                            {{productunit.date_updated|date:'d/m/Y'}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}