{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Products{% endblock title %}

{% block content %}

<div class="container-fluid p-0">

    <h1 class="h3 mb-3">Products</h1>

    <div class="row">
        {% if products %}
        {% for product in products %}
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">{{ product.name }}</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ product.short_description }}</p>
                    <a href="{% url 'pub-product-detail' product.id %}" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>There isn't products</p>
        {% endif %}
    </div>
</div>
{% endblock %}