{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Provider{% endblock title %}

{% block content %}

<div class="container-fluid p-0">

    <div class="mb-3">
        <h1 class="h3 d-inline align-middle">{{provider.name }}</h1>
        <a class="badge bg-secondary text-white ms-2" href="{% url 'providers' %}">
            Return to Providers
        </a>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="card">
                {% if provider.image %}
                <img class="card-img-top" src="{{ provider.image.url }}" alt="Provider image">
                {% endif %}
                <div class="card-header">
                    <h5 class="card-title mb-0">Provider details</h5>
                </div>
                <div class="card-body">
                    <p><b>Contact: </b> {% firstof provider.contact "Not contact information" %}</p>
                    <p><b>CUIT: </b> {{ provider.cuit }}</p>
                    <p><b>Products: </b></p>
                    <ul>
                        {% for product in provider.products.all %}
                        <li>
                            <i class="align-middle" data-feather="box"></i> <a
                                href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    <a href="{% url 'provider-update' provider.id %}" class="btn btn-primary"><i
                            class="bi bi-pencil"></i> Edit</a>
                    <a href="{% url 'provider-delete' provider.id %}" class="btn btn-danger"><i class="bi bi-trash"></i>
                        Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}