{% load static %}
<nav class="navbar navbar-expand navbar-light navbar-bg">
	<a class="sidebar-toggle d-flex">
		<i class="hamburger align-self-center"></i>
	</a>

	{% comment %}
	<form class="d-none d-sm-inline-block">
		<div class="input-group input-group-navbar">
			<input type="text" class="form-control" placeholder="Search..." aria-label="Search">
			<button class="btn" type="button">
				<i class="align-middle" data-feather="search"></i>
			</button>
		</div>
	</form>
	{% endcomment %}

	<div class="navbar-collapse collapse">
		<ul class="navbar-nav navbar-align">
			{% if user.is_authenticated %}
			<li class="nav-item dropdown">
				<a class="nav-icon dropdown-toggle" href="#" id="alertsDropdown" data-toggle="dropdown">
					<div class="position-relative">
						<i class="align-middle" data-feather="bell"></i>
						{% if user_notifications %}
						<span class="indicator">{{ user_notifications|length }}</span>
						{% else %}
						<span class="indicator">0</span>
						{% endif %}
					</div>
				</a>
				<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right py-0" aria-labelledby="alertsDropdown">
					<div class="dropdown-menu-header">
						{% if user_notifications %}{{ user_notifications|length }}{% else %}0{% endif %} New Notifications
					</div>
					<div class="list-group">
						{% for notification in user_notifications %}
						<a href="#" class="list-group-item">
							<div class="row g-0 align-items-center">
								<div class="col-2">
									<i class="{{ notification.ui_color }}" data-feather="{{ notification.ui_icon }}"></i>
								</div>
								<div class="col-10">
									<div class="text-dark">{{ notification.title }}</div>
									<div class="text-muted small mt-1">{{ notification.content }}</div>
									<div class="text-muted small mt-1">{{ notification.creation_date|date:'d/m/Y H:i:s'}}</div>
								</div>
							</div>
						</a>
						{% endfor %}
					</div>
					<div class="dropdown-menu-footer">
						<a href="{% url 'notifications' %}" class="text-muted">Show all notifications</a>
					</div>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-toggle="dropdown">
					<i class="align-middle" data-feather="settings"></i>
				</a>

				<a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-toggle="dropdown">
					<img src="{% static 'images/user_male.png' %}" class="avatar img-fluid rounded mr-1" alt="Avatar" />
					<span class="text-dark">{{ request.user.username }}</span>
				</a>
				<div class="dropdown-menu dropdown-menu-right">
					<!-- <a class="dropdown-item" href="pages-profile.html"><i class="align-middle me-1" data-feather="user"></i> Profile</a>
					<div class="dropdown-divider"></div> -->
					<a class="dropdown-item" href="{% url 'account_change_password' %}"><i class="align-middle me-1"
							data-feather="settings"></i> Change password</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="{% url 'account_logout' %}"><i class="align-middle me-1"
							data-feather="log-out"></i> Log out</a>
				</div>
			</li>
			{% else %}
			<li class="nav-item">
				<form class="form-inline ml-auto">
					<a href="{% url 'account_login' %}" class="btn btn-outline-secondary">Log in</a>
					<a href="{% url 'account_signup' %}" class="btn btn-primary ml-2">Sign up</a>
				</form>
			</li>
			{% endif %}
		</ul>
	</div>
</nav>