<nav id="sidebar" class="sidebar">
	<div class="sidebar-content js-simplebar">
		<a class="sidebar-brand" href="{% url 'home' %}">
			<span class="align-middle">App0</span>
		</a>

		<ul class="sidebar-nav">
			<li class="sidebar-header">
				Menu
			</li>

			<li class="sidebar-item">
				<a class="sidebar-link" href="{% url 'providers' %}">
					<i class="align-middle" data-feather="user"></i> <span class="align-middle">Providers</span>
				</a>
			</li>
			<li class="sidebar-item">
				<a class="sidebar-link" href="{% url 'products' %}">
					<i class="align-middle" data-feather="package"></i> <span class="align-middle">Products</span>
				</a>
			</li>
			<li class="sidebar-item">
				<a class="sidebar-link" href="{% url 'whlocations' %}">
					<i class="align-middle" data-feather="map-pin"></i> <span class="align-middle">Locations</span>
				</a>
			</li>
			{% if user.is_authenticated %}
			<li class="sidebar-header">
				API
			</li>
			<li class="sidebar-item">
				<a class="sidebar-link" href="api">
					<i class="align-middle" data-feather="code"></i> <span class="align-middle">Home</span>
				</a>
			</li>
			<li class="sidebar-item">
				<a class="sidebar-link" href="api/products">
					<i class="align-middle" data-feather="code"></i> <span class="align-middle">Products</span>
				</a>
			</li>
			<li class="sidebar-header">
				UI
			</li>
			<li class="sidebar-item">
				<a class="sidebar-link" href="{% url 'homedev' %}">
					<i class="align-middle" data-feather="gitlab"></i> <span class="align-middle">UI Templates</span>
				</a>
			</li>
			{% endif %}
		</ul>

	</div>
</nav>